body {
    background: #212121;
    color: #B2AFAC;
}
.title{
    margin-left: 140px;
}
.navbar{
    margin-bottom: 80px;
}
.bg-dark{
    background-color: #FFCE2B!important;
}

.navbar-brand h1, .nav-link{
    color: #707070;
}

.logo-container{
    display: flex;
    align-items: center;
}
.logo-item a{
    color: #707070;
    text-decoration: none;
}

.navbar-selects{
    display: flex;
    justify-content: flex-end;
}
.nav-link{
    color: #707070!important;
    
}
.nav-link:hover{
    color: #4e4e4e!important;
}


.sign-in-message{
    color: #212121;
    position: relative;
    top: 8px;
    
}

.form-box{
    background: #212121;
}

.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}



