body {
    background: #42413D;
    
}
.navbar{
    margin-bottom: 80px;
}
.bg-dark{
    background-color: #FFCE2B!important;
}

.navbar-brand h1, .nav-link{
    color: #707070;
}

.logo-container{
    display: flex;
    align-items: center;
}
.logo-item a{
    color: #707070;
    text-decoration: none;
}

.navbar-selects{
    display: flex;
    justify-content: flex-end;
}
.nav-link{
    color: #707070!important;
    
}
.nav-link:hover{
    color: #4e4e4e!important;
}


.sign-in-message{
    position: relative;
    top: 8px;
    
}
