{% extends 'auctions/layout.html' %}
{%block body %}
    <div class='page-title category-search'>
        <h1>Categories</h1>
    </div>
    {% if message %}
        <h3>{{ message }}</h3>
    {% else %}
        <ul class= 'category-list'>
            {% for category in categoryList %}
                <li class='category-item'>
                    <a href="{% url 'category_results' category.category %}">{{ category.category }}</a>  
                </li>
            {%endfor%}    
        </ul>
    {% endif %}     
{% endblock %}