{% extends 'auctions/layout.html' %}
{%block body %}
    <div class='page-title'>
        <h1>{{category_title}}</h1>
    </div>
    {% if message %}
        <div class="message-container">
            <h3>{{ message }}</h3>
        </div>
    {%else%}
        <div class= 'active-listings'>
            {% for listing in listings %}
                <div class='listing-item'>
                    {%if listing.imgUrl is None %}
                    <div class='listing-img'>
                        <img  src='static/auctions/assets/img-placeholder.png' alt='Listed Item'>
                    </div>
                    {% else %}
                        <div class='listing-img'>
                        <img  src='{{listing.imgUrl}}' alt='Listed Item'>
                    </div>
                    {% endif %}
                    <div class='listing-details'>
                        <div class='listing-title'><strong>{{listing.title}}</strong></div>
                        {% if listing.topBid is None %}
                            <div class='listing-price'>
                                <strong><p>Current Bid: ${{listing.startingPrice|floatformat:2}}</p></strong>
                            </div>
                        {% else %}
                            <div class='listing-price'>
                            <strong><p>Current Bid: ${{listing.topBid|floatformat:2}}</p></strong>
                        </div>
                        {% endif %}
                        <div class='listing-description'>
                            <p>{{ listing.description|truncatechars:190 }}<p>
                        </div>
                        <a href="{% url 'listing_page' listing.id %}">
                            <button class='btn view-btn' type='submit'>View</button>
                        </a>
                    </div>   
                </div> 
            {%endfor%} 
        </div>
    {%endif%}
{% endblock %}