{% extends "auctions/layout.html" %}

{%block body%}
<h2> Create New Listing</h2>
<form action="{% url create_listing %} ">
    {% csrf_token %}
    {% comment %} title {% endcomment %}

    {% comment %} description {% endcomment %}
    {% comment %} starting bid {% endcomment %}
    {% comment %} optional img {% endcomment %}
    {% comment %} category drop down {% endcomment %}
    <select>
    (% for option in options %)
    <option> {{ "option" }}</option>
    (%endfor%)
    </select>
</form>
{%endblock%}