{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    <ul class= 'activeListings'>
        {% for listing in activeListings %}
            <li>
                <a class='listing-item' href={% url "listing_page" listing.id %}>
                {{ listing.imgUrl }} 
                {{ listing.title }} 
                {{ listing.description }} 
                {{ listing.startingPrice }} 
                </a>
            </li>   
        {%endfor%}
    </ul>
    
{% endblock %}