{% extends "auctions/layout.html" %}

{% block body %}
    <div class='title dashboard'>
        <h1>Dashboard</h1>
        <hr>
    </div>
    <div class='title current-listings-index'>
        <h3>Active Listings</h3>
        <hr>
    </div>

    <ul class= 'activeListings'>
        {% comment %} {% for listing in activeListings %} {% endcomment %}
            <li>
                <a class='listing-item' href='#'>
                <div class='item-img'>
                    <img  src='#' alt='Listed Item'>
                </div>
                <div class='title'>Shoes</dv>
                <div class='description'>testing format for listing</dv>
                <div class='price'>20.00</dv>
                
               
                </a>
            </li>   
        {% comment %} {%endfor%} {% endcomment %}
    </ul>
    
{% endblock %}