{% extends "auctions/layout.html" %}

{% block body %}
    <div class='title dashboard'>
        <h1>Dashboard</h1>
        <hr>
    </div>
    <div class='title current-listings-index'>
        <h3>Active Listings</h3>
        <hr>
    </div>

    <div class= 'active-listings'>
        {% comment %} {% for listing in activeListings %} {% endcomment %}
            <div class='listing-item'>
                <div class='listing-img'>
                    <img  src='static/auctions/assets/img-placeholder.png' alt='Listed Item'>
                </div>
                <div class='listing-details'>
                    <div class='title'>Shoes</dv>
                    <div class='description'>testing format for listing</dv>
                    <button class='view-btn' type='submit'>View</button>
                    <div class='price'><p>$20.00</p></div>
                </div>   
            </div> 
        {% comment %} {%endfor%} {% endcomment %}
    </div>
    
{% endblock %}