{% extends "auctions/layout.html" %}

{% block body %}
       
    {% if message %}
        <div class='login-error danger'>{{ message }}</div>
    {% endif %}
    <div class='login-content'>
        <form class='login-form' action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <input autofocus class="form-control bg-dark" type="text" name="username" placeholder="Username">
            </div>
            <div class="form-group">
                <input class="form-control bg-dark" type="password" name="password" placeholder="Password">
            </div>
            <div class="form-group">
                <input class="btn btn-dark" type="submit" value="Login">
            </div>
        </form>
        <div class="create-account">
            Don't have an account? <a href="{% url 'register' %}">Register here.</a>
        </div> 
    </div>
{% endblock %}